{% extends 'layouts.html' %}

{% block content %}

<div class="text-center h1 text-sucess"> Pagina de Registros </div>
<div class="conteiner">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
        <div>
            {{ render_field(form.name) }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            <input type="file" name="Foto">
        </div>
        <p><input type="submit" value="Registrar" class="btn btn-success"></p>
    </form>
</div>

{% endblock content %}